@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Quicksand";
    src: url("./assets/fonts/Quicksand-Regular.ttf");
}


.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s ease;
}

.page-enter-active {
    transition-delay: 0.2s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}

body {
    background-color: #111111;
    color: #b1b1b1;
    font-family: 'Poppins', sans-serif;
    selection-background-color: rgba(40, 41, 96);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


div > .router-link-active {
    background-color: #2e2e2e;
    color: #f6f6f6;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 0.25rem;
}
